@import '../../styles/colors.scss';

.experience {
  margin: 3rem 0;

  &__heading {
    font-weight: bold;
    margin: 1.5rem 0 .8rem;

    &--job-title {
      color: $primary-blue;
    }

    &--job-title-actual {
      font-weight: 300;
      font-size: 1.7rem;
    }

    &--companyName {
      display: inline-block;
      padding-top: .25em;
      color: rgba(0,0,0,0.75);
    }
  }

  &__timeRange {
    margin: .7rem 0;
    font-style: italic;
    font-weight: 300;
  }
}