@import '../../styles/colors.scss';

.resume__container {
  background-color: $dark;
}

.resume__wrapper {
  background-color: white;
  padding: 20px;
}

@media screen and (min-width: 1024px) {
  .resume__container {
    padding: 50px;
  }

  .resume__wrapper {
    max-width: 944px;
    margin: auto;
    padding: 40px;
  }
}