@import '../../styles/colors.scss';

.resume__container {
  background-color: #555;
}

.resume__wrapper {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1024px) {
  .resume__container {
    padding: 50px;
  }

  .resume__wrapper {
    max-width: 944px;
    margin: auto;
    padding: 40px;
  }
}